.canvas__container {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}

.canvas--rect {
    margin: 2rem auto;
    width: 60%;
    box-shadow: 0 2rem 2rem rgba(0,0,0, 0.25); 
    border-radius: 1rem;
}

@media (max-width: 750px) {
    .canvas--rect {
        width: 100%;
    }
}